1.Define a function which will return Max of three numbers

In [33]:

def max3(*x):
    for i in range(len(x)):
         return max(x)

In [34]:
max3(36,35,45,68,25,1008)

1008

In [35]:
def max12(a,b,c):
    return max(a,b,c)
max12(44,165,189)

189

2.Define a Python Function to reverse a string.

In [73]:
def reverse(x):
    return x[::-1]

In [74]:
reverse("salva")

'avlas'

In [101]:
def re1(x):
    x="".join(reversed(x))
    return x

In [103]:
re1("Naidu")

'udiaN'

3.Write a Python program to define a function that accepts 2 values 
and return its sum, subtraction and multiplication.

In [115]:
def calmul(x,y):
    yield x+y
    yield x-y
    yield x*y

In [120]:
w=calmul(5,6)
next(w)

11

In [121]:
next(w)

-1

In [122]:
next(w)

30

In [123]:
def add(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    print("sum{} sub {} mul {}".format(sum,sub,mul))

In [124]:
add(5,6)

sum11 sub -1 mul 30

4. Define a function that accepts roll number and returns whether the 
student is present or absent.

In [133]:
presentlist=[101,103,105,106,108,109,111]
def fun(x):
    if x in presentlist:
         print("present")
    else:
         print("absent")

In [140]:
fun(111)

present

5. Define a function in python that accepts n values and returns 
the maximum of n numbers

In [143]:
def max1(*x):
    return max(x)
max(11,32,33,44,55,77,99,0,55,3,9,8)

99

6. Define a function which counts vowels and consonant in a word

In [74]:
def word(x):
    vowel=["a","e","i","o","u"]
    vo=0
    co=0
    for k in x:
        if k in vowel:
            vo=vo+1
        else:
            co=co+1
    print(vo)
    print(co)

In [75]:
word("pawan kalyan")

4
8

In [69]:
n=input("enter the string:=")
vowel=["a","e","i","o","u"]
vo=[]
co=[]
for i in n:
    if i  in vowel:
        vo.append(i)
    elif i not in vowel:
        co.append(i)
print(len(vo))
print(len(co))

enter the string:=hgdsfuyghnbck
1
12

7. Define a function that returns Factorial of a number

In [93]:
def fac(x):
    fact=1
    for i in range(x,0,-1):
         fact=fact*i
    print(fact)

In [94]:
fac(8)

40320

In [92]:
n=int(input("enter the factorial number :"))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print(fact)

enter the factorial number :8
40320

8.Define a function that accepts radius and returns the area of a circle.

In [100]:
def area(r):
    """ the aera of circle is pie r square"""
    return 3.14*(r)**2

In [101]:
area(2)

12.56

9. Define a function that takes a number as a parameter and check 
the number is prime or not.

In [26]:
def prime(num):
    
    if num > 1:
        for i in range(2, int(num/2)+1):
            if (num % i) == 0:
               print(num, "is not a prime number")
            break
        else:
            print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

In [31]:
prime(8)

8 is not a prime number

10. Mary wants to run a 25-mile marathon. When she attempts to 
sign up for the marathon, she notices the sign-up sheet doesn't 
directly state the marathon's length. Instead, the marathon's length 
is listed in small, different portions. Help Mary find out how long 
the marathon actually is. So create a function that 
** Return True if the marathon is 25 miles long, otherwise, return 
False.
Examples :-
marathon_distance([1, 2, 3, 4]) ➞ False 
marathon_distance([1, 9, 5, 8, 2]) ➞ True
marathon_distance([-6, 15, 4]) ➞ True

In [57]:
def run(*m):
    s=0
    for i in m:
        if i>0:
            s=i+s
        else:
            i=i*(-1)
            s=s+i
    if s==25:
        print("True")
    else:
        print("False")

In [60]:
run(0,21,3)

False

In [30]:
list1=[5,6,-7]
sum(list1)

4

11.Create a function that takes a number and returns True if the number is automorphic, False if it isn't.
** number n is automorphic if n^2 ends in n.

In [67]:
def auto(n):
        c=n**2
        b=str(c)
        if int(b[-1])==n:
            return True
        else:
            return False

In [69]:
auto(6)

True

12) Create a function, that will take given a, b, c, and do the following: 
 Add a to itself b times and Check if the result is divisible by c.
 and return true if it is divisible by c or false
Type your text
 Example:
 A=1
 B=2
 C=2
 So output is True because 1+1=2 and 2/2=0

In [74]:
def fun1(a,b,c):
    d=(a+a)
    if c%d==0:
        return True
    else:
        return False

In [75]:
fun1(1,2,2)

True

13. Create a function that changes specific words into emoticons. 
Given a sentence as a string, replace the words smile, grin, sad and mad 
with their corresponding emoticons.

In [3]:
def name(a):
    s=a.split()
    dic={"smile":":D","grin":":)","sad":":(","mad":":P"}
    for items in s:
        if items in dic.keys():
            change=a.replace(items,dic[items])
            print(change)

In [4]:
name("mad")

:P

14) Write a Python program to square and cube every number in a given 
list of integers using Lambda

In [11]:
q=[1,2,3,4,5,6,7,8,9]
r=list(map(lambda r:r**2,q))
p=list(map(lambda p:p**3,q))

In [12]:
print(r)
print(p)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 8, 27, 64, 125, 216, 343, 512, 729]

Write a Python program to check whether a given string is number 
or not using Lambd

In [40]:
def num(x):
    
        if x.isdigit():
            print("its number")
        else:
            print("its not digit ")

In [41]:
num("12264")

its number

In [42]:
num("boss ra ")

its not digit